<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../public/css/estilo.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    
    <main class="container">
        <section class="login-container">
            <p>No tiene permisos para accedera esta parte de la aplicaci&oacute;n.</p>
            <button name="volver" value="Volver" onclick="window.location='/';return false;">      
                <span class="material-icons"  title="Volver">restart_alt</span>&nbsp;<span>Volver a inicio</span>
                </button>
        </section>
    </main>
</body>
</html>