body {
    margin: 0;
    font-family: Arial, sans-serif;
    
}

header {
    background-color: #167cb8; /* Amarillo pastel */
    color: #c7c572; /* Color de texto */
    padding: 10px 20px;
}

.spacer {
    flex-grow: 1; /* Utiliza el espacio restante */
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Centra los elementos horizontalmente */
}

.menu-button {
    background-color: transparent;
    border: none;
    color: #333; /* Color de texto */
    cursor: pointer;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra horizontalmente */
    margin: 0;
    flex: 1; /* Ocupa todo el espacio disponible verticalmente */
}

.logo {
    width: 60px; /* Tamaño del logo */
    margin-right: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: stretch; /* Estirar las secciones para que tengan la misma altura */
    max-height: 680px;
    margin-top: 100px;
}

.form-container,
.login-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 0 50px; /* Espacio entre las cajas */
    display: flex;
    flex-direction: column; /* Alinear los elementos verticalmente */
}

.form-container h2,
.login-container h2 {
    margin-bottom: 30px;
}

.form-container form,
.login-container form {
    display: flex;
    flex-direction: column;
}

.form-container label,
.login-container label {
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.login-container input[type="email"],
.login-container input[type="password"] {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.form-container button,
.login-container button {
    padding: 10px;
    background-color: #2980b9;
    color: rgb(233, 240, 145);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover,
.login-container button:hover {
    background-color: #3498db;
}

.botonera{
    display: flex;
    justify-content: center;
}

.dos-botones{    
    width: 40%;
    margin: 5px;
}

.error-message {
    background-color: #ffcccc;
    color: #cc0000;
    border: 1px solid #cc0000;
    padding: 10px;
    border-radius: 5px;
    min-width: 200px;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px; 
}

.ok-message {
    background-color: #ccffcc; 
    color: #008000; 
    border: 1px solid #008000; 
    padding: 10px;
    border-radius: 5px;
    min-width: 200px;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px; 
}


/*ids */

#loginButton {
width: fit-content;

}
